data/
!data/.gitkeep
/.vs
/Vision/Source/.vs/Vision/CopilotIndices/17.14.878.3237
/Vision/Source/.vs/Vision/FileContentIndex
/Vision/Source/.vs/Vision/v17
/Vision/Source/VISION.CSM
/Vision/Source/vision.DSW
/Vision/Source/vision.met
/Vision/Source/vision.mlt
