#if !defined(__faisceau_rc)  // use file only if it's not already included.
#define __faisceau_rc
#include <owl/winsock.rc>
#if !defined(WORKSHOP_INVOKED)
#include <windows.h>
#endif

#include "vision.rh"

LASERMENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Save Picture", CM_SAVEPICTURE
  POPUP "Save Picture as Palette BMP"
  {
   MENUITEM "Save Picture as &Palette BMP No Binning", CM_SAVEPICTUREASBMPNOBINNING
   MENUITEM "Save Picture as &Palette BMP 2 Binning", CM_SAVEPICTUREASBMP2BINNING
   MENUITEM "Save Picture as &Palette BMP 3 Binning", CM_SAVEPICTUREASBMP3BINNING
   MENUITEM "Save Picture as &Palette BMP 4 Binning", CM_SAVEPICTUREASBMP4BINNING
   MENUITEM SEPARATOR
   MENUITEM "Save Picture as &Palette BMP 2 Binning, Floating", CM_SAVEPICTUREASBMP2FLOATINGBINNING
   MENUITEM "Save Picture as &Palette BMP 3 Binning, Floating", CM_SAVEPICTUREASBMP3FLOATINGBINNING
   MENUITEM "Save Picture as &Palette BMP 4 Binning, Floating", CM_SAVEPICTUREASBMP4FLOATINGBINNING
  }

  MENUITEM "Save &low byte as BMP", CM_SAVELOWBYTEASBMP
  MENUITEM "Save Picture as &Truecolor TGA", CM_SAVEPICTUREASRGBTGA
  MENUITEM "Save Picture as &Grayscale TGA", CM_SAVEPICTUREASBWTGA
  MENUITEM "Save as Matrix", CM_SAVEPICTUREASMATRIX
  MENUITEM SEPARATOR
  MENUITEM "&Load BMP Picture", CM_LOADBMPPICTURE
  MENUITEM "L&oad TGA Picture", CM_LOADTGAPICTURE
  MENUITEM SEPARATOR
  MENUITEM "Save &Profil", CM_SAVEPROFIL
  MENUITEM SEPARATOR
  MENUITEM "E&xit", CM_EXIT
 }

 POPUP "&Measurements"
 {
  MENUITEM "Load &Measurement", CM_LOADMEASUREMENT
  MENUITEM "&Delete Measurement", CM_DELETEMEASUREMENT
 }

 POPUP "&Series"
 {
  MENUITEM "Load Series All Cameras", CM_LOADSERIEALLCAMERAS
  MENUITEM "Add Series All Cameras", CM_ADDSERIEALLCAMERAS
  MENUITEM "Load &Series", CM_LOADSERIE
  MENUITEM "&Add Series", CM_ADDSERIE
  MENUITEM "Sa&ve Series", CM_SAVESERIE
  MENUITEM SEPARATOR
  MENUITEM "S&ort Series", CM_SORTSERIE
  MENUITEM "S&hift Parameters", CM_SHIFTTNMEASUREPARAMETERS
  MENUITEM SEPARATOR
  MENUITEM "&Start Series", CM_STARTSERIE
  MENUITEM "S&top Series", CM_STOPSERIE
  MENUITEM "&Continue Serie", CM_CONTINUESERIE
  MENUITEM "&New Series", CM_NEWSERIE
 }

 POPUP "&Palette"
 {
  MENUITEM "&Load Palette", CM_LOADPALETTE
  MENUITEM SEPARATOR
  MENUITEM "&Standard Color", CM_PALETTESTANDARD
  MENUITEM "&Standard Color 2", CM_PALETTESTANDARD2
  MENUITEM "White->Black", CM_PALETTEWHITEBLACK
  MENUITEM "Black->White", CM_PALETTEBLACKWHITE
  MENUITEM "&Low byte", CM_PALETTELOWBYTE
  MENUITEM "&Stripes", CM_PALETTESTRIPES
 }

 POPUP "&Camera"
 {
  MENUITEM "Andor test", CM_ANDORTEST
  MENUITEM "&Picture camera 0", CM_PICTURECAMERA0
  MENUITEM "&Picture camera 1", CM_PICTURECAMERA1
  MENUITEM "&Picture camera 2", CM_PICTURECAMERA2
  MENUITEM "&Picture camera 3", CM_PICTURECAMERA3
  MENUITEM "&Picture camera 4", CM_PICTURECAMERA4
  MENUITEM "&Picture camera 5", CM_PICTURECAMERA5
  MENUITEM "&Picture camera 6", CM_PICTURECAMERA6
  MENUITEM "&Picture camera 7", CM_PICTURECAMERA7
  MENUITEM "Film camera 0", CM_FILMCAMERA0
  MENUITEM "Film camera 1", CM_FILMCAMERA1
  MENUITEM "Film camera 2", CM_FILMCAMERA2
  MENUITEM "Film camera 3", CM_FILMCAMERA3
  MENUITEM "Film camera 4", CM_FILMCAMERA4
  MENUITEM "Film camera 5", CM_FILMCAMERA5
  MENUITEM "Film camera 6", CM_FILMCAMERA6
  MENUITEM "Film camera 7", CM_FILMCAMERA7
  MENUITEM "&Stop to film", CM_STOPFILM
  MENUITEM "Camera &Information", CM_ANDORCAMERAINFORMATION
  MENUITEM SEPARATOR
  MENUITEM "&Gauss", CM_GAUSS
  MENUITEM "&Fermi", CM_FERMIPICTURE
  MENUITEM "Man&delbrot", CM_MANDELBROT
  MENUITEM "Ioffe", CM_IOFFEPICTURE
 }

 POPUP "&Show"
 {
  MENUITEM "&Shadow", CM_MAINPICTUREMODE0
  MENUITEM "&Probe", CM_MAINPICTUREMODE1
  MENUITEM "&Noise", CM_MAINPICTUREMODE2
  MENUITEM "&Absorption", CM_MAINPICTUREMODE3
  MENUITEM "&Optical Density", CM_MAINPICTUREMODE4
 }

 POPUP "&Calc"
 {
  MENUITEM "Reduce Fringes", CM_REDUCEFRINGES
  MENUITEM "&Substract Noise Pictures", CM_CREATESUBSTRACTNOISEPICTURE
  MENUITEM "RMS &noise", CM_CALCRMSNOISE
  MENUITEM "&ReCalc", CM_RECALC
  MENUITEM "ReCalc Ioffe Fit", CM_RECALCIOFFEFIT
  MENUITEM "ReCalc 2D Gauss", CM_RECALC2DGAUSS
  MENUITEM "ReCalc Partial Fermi", CM_RECALCPARTIALFERMI
  MENUITEM "ReCalc Gauss Wings", CM_RECALCGAUSSWINGS
  MENUITEM "ReCalc Fermi", CM_RECALCFERMI
  MENUITEM "ReCalc Bose", CM_RECALCBOSE
  MENUITEM "Average Opt Dens", CM_AVERAGEOPTDENS
  MENUITEM "Average Pictures", CM_AVERAGEPICTURE
  MENUITEM "&Create Film", CM_CREATEFILM
 }

 POPUP "&Fit"
 {
  MENUITEM "Fit &1D Gauss", CM_FIT1DGAUSS
  MENUITEM "Fit 1D Gauss to &Sum", CM_FIT1DGAUSSTOSUM
  MENUITEM "Fit partial Fermi", CM_FITPARTIALFERMI
  MENUITEM "Fit Gauss Wings", CM_FITGAUSSWINGS
  MENUITEM "Fit Fermi", CM_FITFERMI
  MENUITEM "Fit Bose", CM_FITBOSE
  MENUITEM "&Fit 1D Exponential", CM_FIT1DEXPONENTIAL
  MENUITEM "Fit Ioffe Distribution", CM_FITIOFFEDISTRIBUTION
  MENUITEM "Display Ioffe Fit", CM_DISPLAYIOFFEFIT
  MENUITEM "Fit 2D Gauss Distribution", CM_FIT2DGAUSSDISTRIBUTION
  MENUITEM "&Integral Atom Number", CM_INTEGRALATOMNUMBER
  MENUITEM SEPARATOR
  MENUITEM "A&verage", CM_FITSIMPLEATOMNUMBER
  MENUITEM "Fit &Temperature", CM_FITTEMPERATURE
  MENUITEM "Fit &Atom Number", CM_FITATOMNUMBER
  MENUITEM "Fit &Charging Time", CM_FITCHARGINGTIME
  MENUITEM "Fit &Lifetime", CM_FITLIFETIME
 }

 POPUP "ROI"
 {
  MENUITEM "&Show ROIs", CM_SHOWROIS
  MENUITEM "Set ROI &0", CM_SETROI0
  MENUITEM "Set ROI &1", CM_SETROI1
  MENUITEM "Set ROI &2", CM_SETROI2
  MENUITEM "Set ROI &3", CM_SETROI3
  MENUITEM "Set ROI &4", CM_SETROI4
  MENUITEM "Set ROI &5", CM_SETROI5
  MENUITEM "Set ROI &6", CM_SETROI6
  MENUITEM "Set ROI &7", CM_SETROI7
  MENUITEM "Show ROI 0", CM_SHOWROI0
  MENUITEM "Show ROI 1", CM_SHOWROI1
  MENUITEM "Show ROI 2", CM_SHOWROI2
  MENUITEM "Show ROI 3", CM_SHOWROI3
  MENUITEM "Show ROI 4", CM_SHOWROI4
  MENUITEM "Show ROI 5", CM_SHOWROI5
  MENUITEM "Show ROI 6", CM_SHOWROI6
  MENUITEM "Show ROI 7", CM_SHOWROI7
  MENUITEM SEPARATOR
  MENUITEM "Save ROIs", CM_SAVEROIS
  MENUITEM "Load ROIs", CM_LOADROIS
  MENUITEM "Load ROI 0", CM_LOADROI0
  MENUITEM "Load ROI 1", CM_LOADROI1
  MENUITEM "Load ROI 2", CM_LOADROI2
  MENUITEM "Load ROI 3", CM_LOADROI3
  MENUITEM "Load ROI 4", CM_LOADROI4
  MENUITEM "Load ROI 5", CM_LOADROI5
  MENUITEM "Load ROI 6", CM_LOADROI6
  MENUITEM "Load ROI 7", CM_LOADROI7
  MENUITEM SEPARATOR
  MENUITEM "Set Probe Library ROI", CM_SETPROBELIBRARYROI
  MENUITEM "&Enable Probe Library", CM_ENABLEPROBELIBRARY
  MENUITEM SEPARATOR
  MENUITEM "Show Probe Intensity ROI", CM_SHOWPROBEINTENSITYROI
  MENUITEM "Set Probe Intensity ROI", CM_SETPROBEINTENSITYROI
  MENUITEM "Enable Intensity Compensation", CM_ENABLEINTENSITYCOMPENSATION
 }

 POPUP "&Options"
 {
  MENUITEM "&Grid On/Off", CM_GRIDONOFF
  MENUITEM "&Profil Design", CM_PROFILDESIGN
  MENUITEM "&Fix Cursor", CM_FIXCURSOR
  MENUITEM "&Zoom in x2", CM_ZOOM_IN2
  MENUITEM "&Zoom in x4", CM_ZOOM_IN4
  MENUITEM "Store size", CM_STOREREFERENCESIZE
  MENUITEM "&LiveConnection", CM_TOGGLELIVECONNECTION
  MENUITEM SEPARATOR
  MENUITEM "&Normal Opt Dens", CM_OPTDENSNORMAL
  MENUITEM "&Alice Opt Dens", CM_OPTDENSALICE
  MENUITEM SEPARATOR
  POPUP "&Optical density from"
  {
   MENUITEM "&X and Y Gauss Fit", CM_OPTICALDENSITYFROMXANDYGAUSSFIT
   MENUITEM "&X Gauss Fit", CM_OPTICALDENSITYFROMXGAUSSFIT
   MENUITEM "&Y Gauss Fit", CM_OPTICALDENSITYFROMYGAUSSFIT
   MENUITEM "&Sample", CM_OPTICALDENSITYFROMSAMPLE
  }

  POPUP "&1D Fit Options"
  {
   MENUITEM "X Amplitude = Y Amplitude", CM_GAUSSFITXAMPLITUDEYAMPLITUDE
   MENUITEM "Fit with Amplitude", CM_1DFITWITHAMPLITUDE
   MENUITEM "Fit with Width", CM_1DFITWITHWIDTH
   MENUITEM "F&it with Offset", CM_GAUSSFITWITHOFFSET
   MENUITEM "Fit with Slope", CM_GAUSSFITWITHSLOPE
   MENUITEM "Fit with Number Ratio", CM_FERMIFITWITHNUMBERRATIO
  }

  POPUP "&2D Fit Options"
  {
   MENUITEM "F&it with Offset", CM_2DFITWITHOFFSET
   MENUITEM "Fit with Slope", CM_2DFITWITHSLOPE
   MENUITEM "Fit with Angle", CM_2DFITWITHANGLE
   MENUITEM "Fit with longitudinal flight correction", CM_2DFITWITHLONGITUDINALFLIGHTCORRECTION
   MENUITEM "Fit only not fitted", CM_FIT2DONLYNOTFITTED
   MENUITEM "Display 2D Fit Profil", CM_DISPLAY2DFITPROFIL
   MENUITEM "Init from Gauss fit", CM_INIT2DFITFROMGAUSSFIT
   MENUITEM "Init from last fit", CM_INIT2DFITFROMLASTFIT
   MENUITEM "Init from file", CM_INIT2DFITFROMFILE
  }

  POPUP "&Partial Fermi Options"
  {
   MENUITEM "Fit &L", CM_PARTIALFERMIFITL
   MENUITEM "Fit &Number", CM_PARTIALFERMIFITNUMBER
   MENUITEM "Fit &Temperature", CM_PARTIALFERMIFITTEMP
   MENUITEM "Fit T=&0", CM_FERMIZEROTEMP
  }

  MENUITEM "Integral with Offset", CM_INTEGRALWITHOFFSET
  MENUITEM "Fits Horizontal", CM_FERMIFITHORIZONTAL
  MENUITEM "Update Measurement after Fit", CM_UPDATEMEASUREMENTAFTERFIT
  MENUITEM "Display Math Errors", CM_DISPLAYMATHERRORS
 }

 MENUITEM "&About", CM_ABOUT
}

// Nice horizontal slider thumb bitmap for TSlider and VSlider (include\owl\slider.rc)


// Nice vertical slider thumb bitmap for TSlider and HSlider (include\owl\slider.rc)

VisionIc ICON LOADONCALL MOVEABLE NONDISCARDABLE 
{
'00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
'00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
'00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
'80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
'00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 CC CC CC CC 00 00 00 00 00 00 00 00'
'00 00 0C CC CC CC CC CC CC C0 00 00 00 00 00 00'
'00 00 CC CC EE EE EE EE CC CC 00 00 00 00 00 00'
'00 0C CC EE EE EE EE EE EE CC C0 00 00 00 00 00'
'00 CC CE EE EE EE EE EE EE EC CC 00 00 00 00 00'
'0C CC EE EE EA AA AA AE EE EE CC C0 00 00 00 00'
'CC CE EE EA AA AA AA AA AE EE EC CC 00 00 00 0C'
'CC EE EE AA AB BB BB AA AA EE EE CC C0 00 00 0C'
'CE EE EA AA BB BB BB BA AA AE EE EC C0 00 00 0C'
'CE EE AA AB BB 99 9B BB AA AA EE EC C0 00 00 CC'
'EE EE AA BB B9 99 99 BB BA AA EE EE CC 00 00 CC'
'EE EA AB BB 99 99 99 9B BB AA AE EE CC 00 00 CC'
'EE EA AB B9 99 9D D9 99 BB AA AE EE CC 00 00 CC'
'EE EA AB B9 99 DD DD 99 BB AA AE EE CC 00 00 CC'
'EE EA AB B9 99 DD DD 99 BB AA AE EE CC 00 00 CC'
'EE EA AB B9 99 9D D9 99 BB AA AE EE CC 00 00 CC'
'EE EA AB BB 99 99 99 9B BB AA AE EE CC 00 00 CC'
'EE EE AA BB B9 99 99 BB BA AA EE EE CC 00 00 0C'
'CE EE AA AB BB 99 9B BB AA AA EE EC C0 00 00 0C'
'CE EE EA AA BB BB BB BA AA AE EE EC C0 00 00 0C'
'CC EE EE AA AB BB BB AA AA EE EE CC C0 00 00 00'
'CC CE EE EA AA AA AA AA AE EE EC CC 00 00 00 00'
'0C CC EE EE EA AA AA AE EE EE CC C0 00 00 00 00'
'00 CC CE EE EE EE EE EE EE EC CC 00 00 00 00 00'
'00 0C CC EE EE EE EE EE EE CC C0 00 00 00 00 00'
'00 00 CC CC EE EE EE EE CC CC 00 00 00 00 00 00'
'00 00 0C CC CC CC CC CC CC C0 00 00 00 00 00 00'
'00 00 00 00 CC CC CC CC 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}

STRINGTABLE 
{
 CM_MAINPICTUREMODE0, "Show atomshadow in probe"
 CM_MAINPICTUREMODE1, "Show probe"
}

LASERMENU ACCELERATORS 
{
 "W", CM_FITGAUSSWINGS, VIRTKEY, CONTROL
 "F", CM_FITPARTIALFERMI, VIRTKEY, CONTROL
 "S", CM_FIT1DGAUSSTOSUM, VIRTKEY, CONTROL
 "N", CM_INTEGRALATOMNUMBER, VIRTKEY, CONTROL
 "X", CM_EXIT, VIRTKEY, CONTROL
}

IDM_MENU2 MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", 101
  MENUITEM "&Open", 102
  MENUITEM "&Save", 103
  MENUITEM "Save &As", 104
  MENUITEM SEPARATOR
  MENUITEM "P&rinter Setup", 105
  MENUITEM "Page Set&up", 106
  MENUITEM "&Print", 107
  MENUITEM SEPARATOR
  MENUITEM "E&xit", 108
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo", 201
  MENUITEM "&Redo", 202
  MENUITEM SEPARATOR
  MENUITEM "Cu&t", 203
  MENUITEM "&Copy", 204
  MENUITEM "&Paste", 205
 }

 POPUP "&Window"
 {
  MENUITEM "&Tile", 301
  MENUITEM "&Cascade", 302
  MENUITEM "&Hide", 303
  POPUP "&View"
  {
   MENUITEM "&All", 401
   MENUITEM "&Hidden Document List", 402
  }

 }

 POPUP "&Help"
 {
  MENUITEM "&Help Topics", 901
  MENUITEM "&What's This?", 902
  MENUITEM SEPARATOR
  MENUITEM "&About", 903
 }

}




#endif
